body {
    /*overflow-y: hidden;
    padding-top: 5px;
    padding-bottom: 20px;*/
    background-color: #231F20;
    color: white;
    text-align: center;
    font-family: 'Crimson Text', serif !important;
}

a:hover {
    color: #FDB925;
}

img {
  text-align: center;
  width: 80%;
  height: auto;
}

#loading {
  justify-content: center;
}

#artist-search {
    background: #231F20;
    border: none;
    color: #FDB925;
    box-shadow: none;
}

h1 {
    font-size: 55px;
    margin-bottom: 0px;
    margin-top: 5px;
}

h2, h3 {
  margin: 0px
}

h3 {
  font-size: calc(1em + 0.7vw);
}

h2 {
  font-size: calc(1em + 2.5vw);
}

h4 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom:5px;
}

h5 {
  font-size: 20px;
  margin-bottom: 0px;
}

.container {
  position: relative;
  /* width: 100%; */
  padding: 0 20%;
  box-sizing: border-box;
}

.credo {
    margin-top: 0px;
}

hr {
  border-top-color: white;
  margin-top: 0;
  margin-bottom:10px;
}

.line {
  padding: 0 20%;
}

.list-group-item-dark {
    border-style: solid;
    background: #231F20;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    border-color: white !important;
    border-radius: 40px;
    text-decoration: none;
    margin: 10px;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  background: #231F20;
  color: white;
  height: 40px;
  border-radius: 40px;
  font-size: 20px;
  line-height: normal;
  padding-bottom: 5px;
}

.button {
  padding: 0 30%;
  padding-bottom: 10px;
}

button {
  background: #231F20;
  color: white;
  border-radius: 40px;
  height: 25px;
  font-size: 15px;
  margin-bottom: 5px;
  outline: none;
}

button:hover{
  background-color: white;
  color: #1e2129;
}

.option:active{
  background-color: white;
  color: #1e2129;
}

.option:focus{
  background-color: white;
  color: #1e2129;
}

input[type="submit"]:hover
{
  background-color: white;
  color: #1e2129;
}

input[type="submit"]:active
{
  background-color: #1e2129;
  color: white;
}

input,
input::-webkit-input-placeholder {
    font-family: 'Crimson Text', serif !important;
    font-size: 30px;
    line-height: 3;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

input::-webkit-input-placeholder {
  font-size: 15px;
}

.list-group-item-dark:first-child {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.list-group-item-dark:last-child {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.target {
  color: #FDB925;
}

/* a.list-group-item-dark:hover {
    color: #1e2129;
    background-color: white;
}

a.list-group-item-dark:active {
    background-color: #1e2129;
    color: white;
} */
